<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Firefox" />
    <add key="Url" value="https://trauer.rnz.de/login.html" />
    <add key="Title" value="RNZ" />
    <add key="LocalPath" value="\\Diskstation\Share\Daten\dokumente\HTML\trauer.rnz.de" />
    <add key="DBuser" value="root" />
    <add key="DBhost" value="192.168.0.98" />
    <add key="DB" value="RNZ-Trauer2" />
  </appSettings>
</configuration>
