################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.svn
/.vs
/bin
/TestStatements/.vs
/CSharpBible/.vs
/CSharpBible/AboutEx/obj
/TestStatements/ctlClockLib/obj
/TestStatements/TestClockApp/obj
/TestStatements/AsyncExample/obj
/TestStatements/TestStatements/obj
/TestStatements/DynamicSample/obj
/TestStatements/CallAllExamples/obj
