################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/**/.idea


*.cache
*.bak
*.user
*.log
*.suo
*.snk
*.lnk
**/.vs
**/obj
**/obj.net
**/bin
**/Help
/Avalonia_Apps/AvlnSamples/Styles_and_Templates/WPF_AlternatingAppearanceOfItems
/Avalonia_Apps/AvlnSamples/Styles_and_Templates/WPF_ContentControlStyle
/Avalonia_Apps/AvlnSamples/Styles_and_Templates/WPF_EventTriggers
/Avalonia_Apps/AvlnSamples/Styles_and_Templates/WPF_FindingElementsInTemplates
/Avalonia_Apps/AvlnSamples/Styles_and_Templates/WPF_IntroToStylingAndTemplating
/Avalonia_Apps/AvlnSamples/WPF_AnimationTiming
/Avalonia_Apps/AvlnSamples/WPF_AnimationTimingTests
/Avalonia_Apps/AvlnSamples/WPF_StickyNotesDemoTests
/Avalonia_Apps/AvlnSamples/WPF_Sample_TemplateTests
/Avalonia_Apps/AvlnSamples/WPF_MoveWindowTests
/Avalonia_Apps/AvlnSamples/WPF_MasterDetailTests
/Avalonia_Apps/AvlnSamples/WPF_ImageView
/Avalonia_Apps/AvlnSamples/WPF_Hello_WorldTests
/Avalonia_Apps/AvlnSamples/WPF_Geometry
/Avalonia_Apps/AvlnSamples/WPF_Hello_World
/Avalonia_Apps/AvlnSamples/WPF_MasterDetail
/Avalonia_Apps/AvlnSamples/WPF_MoveWindow
/Avalonia_Apps/AvlnSamples/WPF_CustomAnimation
/Avalonia_Apps/AvlnSamples/WPF_ControlsAndLayoutTests
/Avalonia_Apps/AvlnSamples/WPF_StickyNotesDemo
/Avalonia_Apps/AvlnSamples/WPF_Sample_Template
/Avalonia_Apps/AvlnSamples/WPF_CustomAnimationTests
/Avalonia_Apps/AvlnSamples/WPF_ControlsAndLayout
/Avalonia_Apps/AvlnSamples/WPF_Complex_LayoutTests
/Avalonia_Apps/AvlnSamples/WPF_Complex_Layout
/Avalonia_Apps/AvlnSamples/WPF_Brushes
/Avalonia_Apps/AvlnSamples/.packages
/TestStatements/packages
/CSharpBible/Libraries/Libraries.Package/staging
