################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.svn
/.vs
/bin/Debug
/TestStatements/.vs/TestStatements/v16
/TestStatements/AsyncExampleWPF/obj/Release
