<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MVVM_6_Converters_4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MVVM_6_Converters_4.Properties.Settings>
            <setting name="Vehicle_Width" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Vehicle_Length" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SwivelKoor_X" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="SwivelKoor_Y" serializeAs="String">
                <value>-200</value>
            </setting>
            <setting name="AxisOffset" serializeAs="String">
                <value>400</value>
            </setting>
        </MVVM_6_Converters_4.Properties.Settings>
    </userSettings>
</configuration>