@using BlazorWasmDocker.ViewModels.Interfaces;
@using System.ComponentModel;
@using BlazorWasmDocker.Models;
<style>
	#Console {
		width: 800px;
		height: 550px;
		table-layout: fixed;
		font-family: Consolas;
		font-size: 16px;
	}
</style>

<h3>RConsole</h3>
<div class="movable" background-color="#000000" color="#FFFF00">
	<!--pre width="16" font="Consolas" ><b-->
	<table id="Console" >
	<tbody>
		<tr >
			<td colspan="2">-</td>
			<td colspan="70" centered>@Title</td>
			<td colspan="2">_</td>
			<td colspan="2">#</td>
	<td colspan="2" background-color="#ff0000" color="#000000">X</td>
		</tr>
		@for (var row = 0; row<=25; row++)
			{
				<tr>
					@for (var col =0;col<=79;col++)
					{
						<td background-color="#010101" >
							@(Buffer[col + row*80] is ' ' or '\0' ?'\u00a0':Buffer[col + row*80])
							</td>
					}
					</tr>
			}
		</tbody>
</table>
			<!--/b></pre-->
</div>
@code {
	[Parameter]
	public string Title {get; set;}

	public IRConsoleViewModel ViewModel;

	public char[] Buffer {get; set;} = new char[80*33];
	
	public void Clear()
	{
		for (var i = 0; i<Buffer.Length; i++)
		{
			Buffer[i] = ' ';
		}
	}

	public RConsole()
	{
		ViewModel = IoC.GetRequiredService<IRConsoleViewModel>();
		Clear();
		ViewModel.PropertyChanged += ViewModel_PropertyChanged;
			Buffer[00] = 'R';
	Buffer[1] = 'C';
	Buffer[2] = 'o';
	Buffer[3] = 'n';
	Buffer[4] = 's';
	Buffer[5] = 'o';
	Buffer[6] = 'l';
	Buffer[7] = 'e';

	}

	private void ViewModel_PropertyChanged(object sender, PropertyChangedEventArgs e)
	{
		if (e.PropertyName == "Buffer")
		{
			for (var i = 0; i<Math.Min(Buffer.Length,ViewModel.Buffer.Length); i++)
			{
			Buffer[i] = ViewModel.Buffer[i];
			}
			StateHasChanged();
		}
	}
}
