<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MSQBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.data>
		<DbProviderFactories>
			<add name="MySqlConnector"
      invariant="MySqlConnector"
      description="Async MySQL ADO.NET Connector"
      type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
		</DbProviderFactories>
	</system.data>
 <userSettings>
  <MSQBrowser.Properties.Settings>
   <setting name="ServerName" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="User" serializeAs="String">
    <value>&lt;User&gt;</value>
   </setting>
   <setting name="Db" serializeAs="String">
    <value />
   </setting>
   <setting name="LastData" serializeAs="String">
    <value />
   </setting>
  </MSQBrowser.Properties.Settings>
 </userSettings>
</configuration>