<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ListBinding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ListBinding.Properties.Settings>
            <setting name="Data" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;ArrayOfPerson xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;Person&gt;
    &lt;LastName&gt;Care&lt;/LastName&gt;
    &lt;FirstName&gt;Joe&lt;/FirstName&gt;
    &lt;Title&gt;Dr,&lt;/Title&gt;
    &lt;Id&gt;1&lt;/Id&gt;
  &lt;/Person&gt;
&lt;/ArrayOfPerson&gt;</value>
            </setting>
        </ListBinding.Properties.Settings>
    </userSettings>
</configuration>
